<!-- WHOLE APP FRAME -->
<!DOCTYPE html>
<html>
<head>
    <% include ../views/templates/head %>
</head>

<body>
    <section>

      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>

    </section>
    <footer>
        <% include ../views/templates/footer %>
    </footer>
    <% include ../views/templates/scripts %>
</body>
</html>
